@font-face {
    font-family: 'BRFirma-Medium';
    font-family: 'BRFirma-Regular';
    src: url('./br-firma-cufonfonts-webfont/BR\ Firma\ Regular.woff');
    src: url('./br-firma-cufonfonts-webfont/BR\ Firma\ Medium.woff');
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%vw;
    height: 100%vh;
    font-family: 'Playfair Display','BRFirma-Medium', serif;
    overflow-x: hidden;
   }
   /* NAVBAR */
.text{
    width: 100%;
    background: #092358;
    height: 130px;
    font-family: 'BRFirma-Medium';
  
}

.e-mail-nav {
    color: white;
    font-size: 12px;
    margin-top: 10px;
}
.register{
    color:#27D2A9;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
}
.vl {
    border-left: 1px solid white;
    height: 25px;
    margin-right: 10px;
  }
.login{
    color: white;
    font-size: 12px;
    text-decoration: none;
    margin-right: 20px;
}
.top-navbar{
    margin-top: -10px;
    padding-left: 100px;
    padding-right: 100px;
}
.bottom-navbar{
    margin-top: -15px;
    padding-left: 100px;
    padding-right: 100px;
}
.top-navbar{
    display: flex;
}
.auth-links{
    display: flex;
    margin-top: 20px;
}
.logo{
    width: 150px;
   height: 38px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: whitesmoke;
}
.navbar-expand-lg .navbar-nav .nav-link:focus {
    color: #27D2A9 !important;
}
.nav-link:hover{
    color:#27D2A9!important;
}
.navbar-nav .nav-link {
    font-size: 14px;
    
}
.hr{
    color: white;
    background: white;
    margin-top: -9px;
}
/* MAIN BG */

.main-background{
    background: url('./img/image\ 1.png');
    background-size: cover;
    width: 100%;
    height: 500px;   
}
.main-text{
    width: 60%;
    padding: 120px;
}
 h1{
    font-size: 49px;
    color: #092358;
    font-weight: bold;
    font-family: 'Playfair Display';
    margin-top: 20px;
    line-height: 47px;
 }
 h3{
    color: #092358;
    font-family: "BRFirma-Regular";
    width: 56%;
    font-size: 18px;  
 }
 .btn{
     background: green;
     width: 180px;
 }
 .vector{
     position: relative;
    left: 300px;
     bottom: 1400px;
 }
 .second-background{
     background: url('./img/image\ 2.png');
    background-size: cover;
     height: 300px;
     margin-top: 60px;
 }
 .second-background h1{
    font-size: 22px; 
    color: #0DA580;
    margin-top: -30px;
}
 .comp-text{
     text-align: center;
     padding-top: 70px;
     font-family:"Playfair Display";
 }
 .comp-text h2{
    font-size: 12px;
    color: #6D6D6D;
}
 .comp-text p{
   width: 40%;
   margin: 0 auto;
   font-size: 24px;
   color: #092358;
}
.background-three{
    background-color: #092358;
    font-weight: 300;
    height: 740px;
    padding-top: 50px;
    
}
.mission-vision{
    margin-top: 80px;
}
.concreed-glance{
    display: flex;
    justify-content: space-between;
    padding-left: 230px;
    padding-right: 230px;
}
.topic{
    color: #ffffff;
    font-size: 26px;
    font-weight: 300;
    font-family: "Playfair Display";
    line-height: 138%;
}
.header-topic-rule{
    width: 70px;
    border: 2px solid#27D2A9;
    margin-top: -5px;
}
.background-three p{
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    font-family: "BRFirma-Regular";
    width: 60%;
    margin-top: 5px;
}
.background-three a{
   text-decoration: none;
   color: #27D2A9;
   font-size: 16px;
}
.lower-ruler{
    width: 47%;
    background-color: white;
}

.glance-paragraph{
    
    padding-top: 10px; 
 }
.side-two-img{
    width: 420px;
    height: 478px;
    margin-top: 70px;
    position: relative;
    z-index: 2;
}
.vector-two{
    position: absolute;
    top: 1360px;
    left: 1218px;
    width: 483px;
    z-index: 1;
}
.transparent-vector{
    position: absolute;
    top: 130px;
    left: 1249px;
    opacity: 0.7;
    width: 450px;
}
.vector-one{
    position: absolute;
    left: 1227px;
    top: 107px;
    width: 470px;
}
.why-concreed{
    display: grid;
    background: #E5E5E5;;
  }
.concreed{
    height: 380px;
    position: relative;
    bottom: 60px;
    box-shadow: 0px 100px 80px rgba(206, 206, 206, 0.07), 0px 41.7776px 33.4221px rgba(206, 206, 206, 0.0503198), 0px 22.3363px 17.869px rgba(206, 206, 206, 0.0417275), 0px 12.5216px 10.0172px rgba(206, 206, 206, 0.035), 0px 6.6501px 5.32008px rgba(206, 206, 206, 0.0282725), 0px 2.76726px 2.21381px rgba(206, 206, 206, 0.0196802);
    background-color: white;
    width: 1200px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}
.capital-mini-content{
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: center;
   }
   .capital-sub-content{
       width: 300px;
   }
   .capital-sub-content p{
    width: 250px;
    margin: 0 auto;
    font-family: "BRFirma-Regular";
}
.capital-topic{
    font-size: 18px;
}
   .capital-sub-content h2{
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Playfair Display";
}
.concreed-rule{
    width: 70px;
    border: 2px solid#27D2A9;
    margin: 0 auto;
    
}
.news-topic{
    text-align: center;
   color: #666666;
   font-family: "Playfair Display";
   font-size: 18px;
   padding-bottom: 20px;
}
.company-logos{
    display: flex;
    width: 1100px;
    justify-content: space-around;
    padding-bottom: 50px;
    margin: 0 auto;
}
.logo-rule {
   width: 1100px;
   margin: 0 auto;  
}
.insight-topic{
    text-align: center;
    margin-top: 70px;
    font-family: "Playfair Display";
    color: #1D479D;
    font-size: 18px;
}
.news-and-insights{
    width: 1000px;
    display: flex;
  margin: 0 auto;
   padding-bottom: 120px;
}
.news-one{
    display: flex;
    width: 670px;
    margin-top: 60px;
    justify-content: space-between;
}
.insight-content h3{
    font-family: "Playfair Display";
    font-size: 18px;
    color: #092358;
    width: 300px;
}
.insight-content a{
   text-decoration: none;
   font-family: "BRFirma-Regular";
   font-size: 16px;
   color: #27D2A9;
}
.insight-content p{
    font-family: "BRFirma-Regular";
    font-size: 14px;  
    color: #666666;
    width:300px ;
}
.insight-content h6{
    font-family: "BRFirma-Regular";
    font-size: 12px;
    color: #888888;
    
}

/* footer */


footer{
  background:#1D2A44;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: "Playfair Display";
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  /* bottom: -2px; */
  bottom: -10px;
  height: 2px;
  width: 35px;
  background: #27D2A9;
}
.content .link-boxes .box li{
  margin-top: 10px;
  list-style: none;
  margin-left: -30px;
 
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  font-family: "BRFirma-Regular";
  opacity: 0.8;
  transition: all 0.4s ease;
 
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .top .box .form{
  margin-left: 150px;
}
.box .form input{
  height: 40px;
  width: 333px;
  height: 54px;
  outline: none;
  background: #ffffff;
  padding: 0 15px;
  font-size: 15px;
  margin-top: 15px;
 
}
.box .form input::placeholder{
  color: #444444;
  font-size: 16px;
  font-family: "BRFirma-Medium";
}
.box .form input[type="button"]{
    height: 40px;
    width: 133px;
    height: 54px;
    outline: none;
    background: #27D2A9;
    padding: 0 15px;
    font-family: "BRFirma-Medium";
    color: #092358;
    font-size: 15px;
    margin-left: -6px;
    margin-top: 16px;
}
.box .form input[type="button"]:focus{
    outline: none;
}
.box .form input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #1D2A44;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.sub_name{
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    width: 350px;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
 
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}


/* PAGE TWO */
.second-main{
    background: #EFEFEF;
}
.our-purpose{
    background:  #E5E5E5;
    padding-top: -30px;
}
.who-we-are{
    display: flex;
    background: none;
    height: 300px;
    margin-top: 60px;
    padding-left: 380px;
    padding-right: 280px;
}

.who-we-are-content h1{
    font-family: "Playfair Display";
    color: #092358;
    font-size: 38px;
    margin-top: -5px;
}
.who-we-are-content p{
    width: 65%;
    font-family: "BRFirma-Regular";
    font-size: 16px;
    color: #444444;
}
.anchor{
    width: 400px;
    height: 400px;
}
.investment-plan{
    padding-top: 30px;
    background: #E5E5E5;
}
.approach-to-investment{
    height: 480px;
    
}
.steps{
    display: flex;
    margin: 0 auto;
    width: 70%;
}
.step h3{
    font-family: "Playfair Display";
    font-size: 24px;
    color: #092358;  
    margin-bottom: 10px;
}
.approach-to-investment h1 {
    margin-left: 250px;
    margin-bottom: 80px;
    margin-top: 20px;
    font-family: "Playfair Display";
    font-size: 36px;
    color: #092358;
}
.step p{
    font-family: "BRFirma-Regular";
    font-size: 14px;
    color: #444444;
    width: 90%;
    
}
.step-icon{
   margin-bottom: 10px;
    height: 24px;
    width: 24px;
    background-color: #27D2A9;
    border-radius: 50%;
    display: inline-block;
}
.image-background{
    margin: 0 auto;
}
.invest-image{
    width: 1200px;
}
/* something-else */
.something-else-here{
    display: flex;
    margin-top: 30px;
    padding-left: 320px;
    padding-right: 250px;
}
.something-else-here .content h1{
    font-family: "Playfair Display";
    margin-bottom: 10px;
    font-size: 38px;
    color: #092358;
}
.something-else-here .content p{
    width: 80%;
    font-family: "BRFirma-Regular";
    font-size: 14px;
    color: #444444;
}

.image{
    margin-top: 40px;
}


 /* responsiveness */
 @media screen and (max-width: 1700px) {
    .main-background {
        height: 600px;   
    }
    .main-text{
        width: 40%;   
    }
    h3{
        width: 60%;  
     }
     .vector{
        left: 1280px;
        bottom: 400px;
        width: 420px;
    }
 }
 @media screen and (max-width: 1695px) {
   
     .vector{
        left: 1275px;
        bottom: 400px;
        width: 420px;
    }
    .vector-one{
        left: 1223px;
    }
    .two{
        left: 1210px;
    }
    .transparent-vector{
        left: 1246px;
    }
   
 }
 @media screen and (max-width: 1690px) {
   
    .vector{
       left: 1270px;
       bottom: 400px;
       width: 420px;
   }
   .vector-two{
    top: 1360px;
    left: 1208px;
    width: 483px;
}
.vector-one{
    left: 1220px;
}
.transparent-vector{
    left: 1240px;
}
}
@media screen and (max-width: 1680px) {
    .main-text{
        width: 50%;   
    }
    h3{
        width: 50%;  
     }
    .vector{
       left: 1295px;
       bottom: 400px;
       width: 385px;
   }
   .vector-two{
    top: 1360px;
    left: 1198px;
    width: 483px;
}
.vector-one{
    left: 1210px;
}
.transparent-vector{
    left: 1230px;
}
.who-we-are-content p{
    width: 70%;
    font-family: "BRFirma-Regular";
    font-size: 16px;
    color: #444444;
}
}
@media screen and (max-width: 1670px) {
    .vector{
       left: 1290px;
       bottom: 396px;
       width: 381px;
   }
   .vector-two{
    top: 1360px;
    left: 1188px;
    width: 483px;
}
.vector-one{
    left: 1200px;
}
.transparent-vector{
    left: 1219px;
}
}
@media screen and (max-width: 1660px) {
    .vector{
       left: 1285px;
       bottom: 340px;
       width: 374px;
   }
   .vector-two{
    top: 1360px;
    left: 1177px;
    width: 483px;
}
.vector-one{
    left: 1190px;
}
.transparent-vector{
    left: 1209px;
}
}
@media screen and (max-width: 1650px) {
    .vector{
       left: 1220px;
       bottom: 412px;
       width: 430px;  
   }
   .vector-two{
    top: 1360px;
    left: 1168px;
    width: 483px;
}
.vector-one{
    left: 1180px;
}
.transparent-vector{
    left: 1199px;
}
}
@media screen and (max-width: 1640px) {
    .vector{
        left: 1200px;
        bottom: 425px;
        width: 440px;  
   }
   .vector-two{
    top: 1360px;
    left: 1155px;
    width: 483px;
}
.vector-one{
    left: 1170px;
}
.transparent-vector{
    left: 1189px;
}
}
@media screen and (max-width: 1637px){
    .who-we-are-content p{
        width: 80%;
    }
}
@media screen and (max-width: 1630px) {
    .vector{
        left: 1190px;
        bottom: 428px;
        width: 440px;  
   }
  .vector-two{
    top: 1360px;
    left: 1147px;
    width: 483px;
}
.vector-one{
    left: 1160px;
}
.transparent-vector{
    left: 1179px;
}
}
@media screen and (max-width: 1620px) {
    .vector{
        left: 1190px;
        bottom: 428px;
        width: 440px;  
   }
   .vector-two{
    top: 1330px;
    left: 1108px;
    width: 510px;
}
.vector-one{
    left: 1150px;
}
.transparent-vector{
    left: 1169px;
}
}
@media screen and (max-width: 1610px) {
    .vector{
       left: 1260px;
       bottom: 305px;
       width: 349px;
   }
   .vector-two{
    top: 1330px;
    left: 1100px;
    width: 510px;
}
   .vector-one{
    left: 1140px;
}
.transparent-vector{
    left: 1159px;
}
}
@media screen and (max-width: 1600px) {
    .vector{
       left: 1255px;
       bottom: 298px;
       width: 343px;
   }
   .vector-one{
    left: 1130px;
}
   .vector-two{
    top: 1330px;
    left: 1065px;
    width: 535px;
}
.transparent-vector{
    left: 1149px;
}
}
@media screen and (max-width: 1590px) {
    .vector{
       left: 1250px;
       bottom: 290px;
       width: 337px;
   }
   .vector-one{
    left: 1120px;
}
.vector-two{
    top: 1330px;
    left: 1055px;
    width: 535px;
}
.transparent-vector{
    left: 1139px;
}
}
@media screen and (max-width: 1580px) {
    .vector{
       left: 1245px;
       bottom: 285px;
       width: 332px;
   }
   .vector-one{
    left: 1110px;
}
   .vector-two{
    top: 1330px;
    left: 1045px;
    width: 535px;
}
.transparent-vector{
    left: 1129px;
}
}
@media screen and (max-width: 1570px) {
    .vector{
       left: 1240px;
       bottom: 280px;
       width: 328px;
   }
   .vector-one{
    left: 1100px;
}
   .vector-two{
    left: 1035px;
}
.transparent-vector{
    left: 1119px;
}
   .who-we-are-content p{
    width: 90%;
}
.something-else-here{
    padding-left: 300px;
    padding-right: 220px;
}
.something-else-here .content p{
    width: 100%;
}
}
@media screen and (max-width: 1560px) {
    .background-three p{
      
        width: 65%;
    }
    .vector-one{
        left: 1090px;
    }
    .vector-two{
        top: 1330px;
        left: 1025px;
        width: 535px;
    }
    .transparent-vector{
        left: 1109px;
    }
}
 @media screen and (max-width: 1550px) {
    .vector{
       left: 1230px;
       bottom: 265px;
       width: 318px;
   }
   .vector-one{
    left: 1080px;
}
.vector-two{
    left: 1015px;
}
.transparent-vector{
    left: 1099px;
}
}
@media screen and (max-width: 1540px) {
.vector-one{
        left: 1070px;
    }
.vector-two{
    top: 1330px;
    left: 1005px;
    width: 536px;
}
.transparent-vector{
    left: 1089px;
}
}
@media screen and (max-width: 1520px) {
    .vector{
       left: 1220px;
       bottom: 243px;
       width: 300px;
   }
   .vector-one{
    left: 1050px;
}
   .vector-two{
    top: 1330px;
    left: 985px;
    width: 536px;
}
.transparent-vector{
    left: 1069px;
}
}
@media screen and (max-width: 1500px) {
    .vector{
       left: 1200px;
       bottom: 233px;
       width: 295px;
   }
   .vector-one{
    left: 1030px;
}
   .vector-two{
    top: 1330px;
    left: 965px;
    width: 536px;
}
.transparent-vector{
    left: 1049px;
}
.who-we-are-content p{
    width: 100%;
}
}  
@media screen and (max-width: 1512px) {
    .background-three p{
       width: 70%;
   }
    
}
@media screen and (max-width: 1490px){
    .vector-two{
        top: 1330px;
        left: 950px;
        width: 536px;
    }
    .vector-one{
        left: 1020px;
    }
    .something-else-here{
        padding-left: 280px;
        padding-right: 200px;
    }
    .transparent-vector{
        left: 1039px;
    }
}
@media screen and (max-width: 1467px) {
    .background-three p{
       width: 75%;
   }
    
   .vector-two{
    top: 1330px;
    left: 925px;
    width: 537px;
}
.vector-one{
    left: 997px;
}
.transparent-vector{
    left: 1017px;
}
.who-we-are-content p{
    width: 105%;
}
.who-we-are{
    padding-left: 340px;
    padding-right: 240px;
}
}
@media screen and (max-width: 1440px){
    .vector-two{
        top: 1330px;
        left: 900px;
        width: 537px;
    }
    .vector-one{
        left: 967px;
    }
    .transparent-vector{
        left: 990px;
    }
}
@media screen and (max-width: 1419px) {
    .background-three p{
       width: 80%;
   }
   .vector-two{
    top: 1330px;
    left: 880px;
    width: 537px;
}
.vector-one{
    left: 947px;
}
.transparent-vector{
    left: 968px;
}
.something-else-here{
    padding-left: 260px;
    padding-right: 180px;
}
}
@media screen and (max-width: 1400px){
    .vector-two{
        top: 1330px;
        left: 862px;
        width: 537px;
    }
    .something-else-here{
        padding-left: 210px;
        padding-right: 150px;
    }
    .vector-one{
        left: 927px;
    }
    .transparent-vector{
        left: 948px;
    }
}
@media screen and (max-width: 1388px){
    .who-we-are{
        padding-left: 300px;
        padding-right: 200px;
    }
}
@media screen and (max-width: 1380px) {
    .background-three p{
       width: 85%;
   }
   .vector-one{
    left: 907px;
}
   .vector-two{
    top: 1330px;
    left: 842px;
    width: 537px;
}
.transparent-vector{
    left: 928px;
}
}
@media screen and (max-width: 1360px) {
   .vector-two{
    top: 1330px;
    left: 822px;
    width: 537px;
}
.vector-one{
    left: 887px;
}
.transparent-vector{
    left: 908px;
}
}
@media screen and (max-width: 1345px) {
    .main-text{
        width: 60%;   
    }
    h3{
        width: 58%;  
     }
     .who-we-are{
        padding-left: 280px;
        padding-right: 180px;
    }
    .vector-one{
        left: 873px;
    }
    .vector-two{
        top: 1330px;
        left: 798px;
        width: 537px;
    }
    .transparent-vector{
        left: 895px;
    }
}
@media screen and (max-width: 1319px) {
    .concreed-glance{
        padding-left: 180px;
        padding-right: 180px;
   }
   .vector-one{
    left: 847px;
}
   .vector-two{
    top: 1330px;
    left: 778px;
    width: 537px;
}
.transparent-vector{
    left: 867px;
}
    
}
@media screen and (max-width: 1231px) {
    .vector-one{
        left: 759px;
    }
    .vector-two{
        top: 1330px;
        left: 694px;
        width: 537px;
    }
    .transparent-vector{
        left: 779px;
    }
    .concreed-glance {
        padding-left: 150px;
        padding-right: 150px;
   }
    
}
@media screen and (max-width: 1198px) {
    .concreed-glance {
        padding-left: 120px;
        padding-right: 120px;
   }
    
}
@media screen and (max-width: 1128px) {
    .concreed-glance {
        padding-left: 100px;
        padding-right: 100px;
   }
    
}
@media screen and (max-width: 1123px) {
    .main-text{
        width: 65%;   
    }
    h3{
        width: 63%;  
     }
    
}
@media screen and (max-width: 1054px) {
    .concreed-glance {
        padding-left: 60px;
        padding-right: 60px;
   }
    
}